<div class="layout-content">
  <section class="page-portfolio">
    <div class="layout-title-wrapper layout-row">
      <h1 class="layout-title layout-container-width layout-container">Portfolio. <span
              class="layout-title__subtitle">My photography</span></h1>
    </div>
    <div class="page-portfolio__items-container layout-row">
      <div class="page-portfolio__item-wrapper">
        <div class="page-portfolio__item"><a href="portfolio-single.html"><img
                class="page-portfolio__image" src="assets/uploads/portfolio/woman-in-glasses-small.jpg"
                alt="Autumn collection"></a>
          <div class="page-portfolio__item__info">
            <h2 class="page-portfolio__item__title">Autumn collection</h2>
            <div class="page-portfolio__item__content">Lorem ipsum dolor sit amet, consectetur
              adipiscing elit.</div><a class="btn btn-lg btn--style2"
                                       href="portfolio-single.html">See More <i class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="page-portfolio__item-wrapper">
        <div class="page-portfolio__item"><a href="portfolio-single.html"><img
                class="page-portfolio__image" src="assets/uploads/portfolio/lolipop-girl-small.jpg"
                alt="Wild sixties"></a>
          <div class="page-portfolio__item__info">
            <h2 class="page-portfolio__item__title">Wild sixties</h2>
            <div class="page-portfolio__item__content">Lorem ipsum dolor sit amet, consectetur
              adipiscing elit.</div><a class="btn btn-lg btn--style2"
                                       href="portfolio-single.html">See More <i class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="page-portfolio__item-wrapper">
        <div class="page-portfolio__item"><a href="portfolio-single.html"><img
                class="page-portfolio__image" src="assets/uploads/portfolio/bikini-small.jpg"
                alt="Sun beams"></a>
          <div class="page-portfolio__item__info">
            <h2 class="page-portfolio__item__title">Sun beams</h2>
            <div class="page-portfolio__item__content">Lorem ipsum dolor sit amet, consectetur
              adipiscing elit.</div><a class="btn btn-lg btn--style2"
                                       href="portfolio-single.html">See More <i class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="page-portfolio__item-wrapper">
        <div class="page-portfolio__item"><a href="portfolio-single.html"><img
                class="page-portfolio__image" src="assets/uploads/portfolio/girl-with-orange-small.jpg"
                alt="Faces"></a>
          <div class="page-portfolio__item__info">
            <h2 class="page-portfolio__item__title">Faces</h2>
            <div class="page-portfolio__item__content">Lorem ipsum dolor sit amet, consectetur
              adipiscing elit.</div><a class="btn btn-lg btn--style2"
                                       href="portfolio-single.html">See More <i class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="page-portfolio__item-wrapper">
        <div class="page-portfolio__item"><a href="portfolio-single.html"><img
                class="page-portfolio__image" src="assets/uploads/portfolio/smiling-woman-small.jpg"
                alt="Alice"></a>
          <div class="page-portfolio__item__info">
            <h2 class="page-portfolio__item__title">Alice</h2>
            <div class="page-portfolio__item__content">Lorem ipsum dolor sit amet, consectetur
              adipiscing elit.</div><a class="btn btn-lg btn--style2"
                                       href="portfolio-single.html">See More <i class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="page-portfolio__item-wrapper">
        <div class="page-portfolio__item"><a href="portfolio-single.html"><img
                class="page-portfolio__image"
                src="assets/uploads/portfolio/model-with-cameras-small.jpg" alt="Beauties"></a>
          <div class="page-portfolio__item__info">
            <h2 class="page-portfolio__item__title">Beauties</h2>
            <div class="page-portfolio__item__content">Lorem ipsum dolor sit amet, consectetur
              adipiscing elit.</div><a class="btn btn-lg btn--style2"
                                       href="portfolio-single.html">See More <i class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="page-portfolio__item-wrapper">
        <div class="page-portfolio__item"><a href="portfolio-single.html"><img
                class="page-portfolio__image" src="assets/uploads/portfolio/woman-in-glasses-small.jpg"
                alt="Style perfect"></a>
          <div class="page-portfolio__item__info">
            <h2 class="page-portfolio__item__title">Style perfect</h2>
            <div class="page-portfolio__item__content">Lorem ipsum dolor sit amet, consectetur
              adipiscing elit.</div><a class="btn btn-lg btn--style2"
                                       href="portfolio-single.html">See More <i class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="page-portfolio__item-wrapper">
        <div class="page-portfolio__item"><a href="portfolio-single.html"><img
                class="page-portfolio__image" src="assets/uploads/portfolio/lolipop-girl-small.jpg"
                alt="Sweetie"></a>
          <div class="page-portfolio__item__info">
            <h2 class="page-portfolio__item__title">Sweetie</h2>
            <div class="page-portfolio__item__content">Lorem ipsum dolor sit amet, consectetur
              adipiscing elit.</div><a class="btn btn-lg btn--style2"
                                       href="portfolio-single.html">See More <i class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>