<div class="layout-content">
    <section class="page-services">
        <div class="layout-title-wrapper layout-row">
            <h1 class="layout-title layout-container-width layout-container">Services. <span
                    class="layout-title__subtitle">What I offer</span></h1>
        </div>
        <div class="layout-row service-item">
            <div class="layout-container">
                <div class="service-item__icon-wrap">
                    <div class="service-item__icon"><i class="fa fa-html5"></i></div>
                </div>
                <div class="service-item__content">
                    <h2 class="service-item__title">Front-End Development</h2>
                    <p class="service-item__description">I build customized cross-browser, cross-platform
                        web sites and web applications. I use a wide array of the latest front end
                        technologies, including: HTML5, CSS3, Preprocessors (LESS/SASS), etc.</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="layout-row service-item">
            <div class="layout-container">
                <div class="service-item__icon-wrap">
                    <div class="service-item__icon"><i class="fa fa-gears"></i></div>
                </div>
                <div class="service-item__content">
                    <h2 class="service-item__title">Back-End Development</h2>
                    <p class="service-item__description">I integrate your HTML and CSS templates into some
                        of the most popular open source CMSs available (Wordpress, Yii, CakePHP, etc.) or
                        develop a custom solution for your personal needs.</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="layout-row service-item">
            <div class="layout-container">
                <div class="service-item__icon-wrap">
                    <div class="service-item__icon"><i class="fa fa-paint-brush"></i></div>
                </div>
                <div class="service-item__content">
                    <h2 class="service-item__title">Web Design</h2>
                    <p class="service-item__description">I make design of layouts, design of web-pages,
                        redesign of existing projects, responsive web-design, design of Wordpress themes and
                        plugins, landing page design.</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="layout-row service-item">
            <div class="layout-container">
                <div class="service-item__icon-wrap">
                    <div class="service-item__icon"><i class="fa fa-search"></i></div>
                </div>
                <div class="service-item__content">
                    <h2 class="service-item__title">Online Marketing</h2>
                    <p class="service-item__description">Through effective online marketing strategies and
                        my expert SEO services, I can help turn your website into your business' most
                        powerful lead generator.</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="layout-row service-item">
            <div class="layout-container">
                <div class="service-item__icon-wrap">
                    <div class="service-item__icon"><i class="fa fa-camera"></i></div>
                </div>
                <div class="service-item__content">
                    <h2 class="service-item__title">Photography</h2>
                    <p class="service-item__description">Good quality photography is often the very first
                        thing a prospective client or customer sees about your business. I can help you make
                        a better first impression. I provide commercial photography services in Los Angeles.
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>
</div>
