<div class="layout-content">
    <section class="page-home layout-row">
        <div class="row">
            <div class="col-md-6">
                <h1 class="page-home__page-title">savvy. creative. determined.</h1>
                <div class="page-home__text">
                    <p>I'm a freelance web developer based in Santa Monica, California. I've been in
                        business since 2006 and work mainly with design agencies.</p>
                    <p>While I specialize in front-end development and WordPress, I now also do a lot of
                        work in mobile web and responsive development.</p>
                </div>
            </div>
            <div class="col-md-6 page-home__thumbnail-wrap">
                <img class="page-home__thumbnail" src="assets/uploads/home/home-image.jpg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img class="page-home__sign" src="assets/uploads/home/sign.png" alt="">
            </div>
        </div>
    </section>
</div>
